@mixin transition($t){
    -moz-transition: $t;
    -webkit-transition: $t;
    transition: $t;
}
#board_view_list {
    background: #ffffff;
    padding: 0px;
    .draggable-item {
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        background-color: #fff;
        outline: 0;
        border: 1px solid rgba(0, 0, 0, .125);
        margin-bottom: 2px;
        margin-top: 2px;
        cursor: default;
        user-select: none;
    }

    .draggable-item-horizontal {
        height: 300px;
        padding: 10px;
        line-height: 100px;
        text-align: center;
        /* width : 200px; */
        display: block;
        background-color: #fff;
        outline: 0;
        border: 1px solid rgba(0, 0, 0, .125);
        margin-right: 4px;
        cursor: default;
    }

    .dragging {
        background-color: yellow;
    }

    .card-scene {
        //padding: 20px;
        height: 100%;
    }

    .card-container {
        width: 320px;
        // height: 650px;
        // max-height: 700px;
        // min-height: 700px;
        margin: 5px;
        margin-right: 10px;
        background-color: #F8F8F8;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    }

    .card {
        margin: 5px;
        font-size: 13px;
        /* border: 1px solid #ccc; */
        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
        padding: 10px;
    }

    .card-column-header {
        padding: 10px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ededed;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 2px 1px rgba(118,118,118,0.1);
    }
    .smooth-dnd-container {
        padding: 5px;
        max-height: 600px;
        min-height: 600px; //card-container
        height: auto;
        overflow: auto;
    }

    .column-drag-handle {
        cursor: move;
        padding: 5px;
    }

    .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg)
    }

    .card-ghost-drop {
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg)
    }

    .opacity-ghost {
        transition: all .18s ease;
        opacity: 0.8;
        /* transform: rotateZ(5deg); */
        background-color: cornflowerblue;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    }

    .opacity-ghost-drop {
        opacity: 1;
        /* transform: rotateZ(0deg); */
        background-color: white;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.0);
    }


    .form-demo {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex
    }

    .form {
        flex: 3;
        /* width: 500px; */
        /* background-color: #f3f3f3; */
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 6px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
    }

    .form-fields-panel {
        flex: 1;
        margin-right: 50px;
    }


    .form-ghost {
        transition: 0.18s ease;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.08);
    }

    .form-ghost-drop {
        box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.0);
    }

    .drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
    }

    .cards-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .dropdown-item {
        padding: 4px 10px;
        color: #54667a;
        font-size: 13px;
    }
    .add-column{
        cursor: pointer;
        line-height: 3;
        opacity: 0.65;
        color: #383837 !important;
        margin-left: 20px;
        width: 120px;
    }
    .opacity{
        opacity: 0.80;
        cursor: pointer;
    }
    .hidden-column{
        padding-top: 5px;
        padding-right: 4px;
    }
    .column-drag-handle{
        font-size: 15px !important;
    }
    //.smooth-dnd-draggable-wrapper{
    //    @include transition(all 1s linear);
    //    .card-column-header{
    //        @include transition(all 1s linear);
    //    }
    //}
    .hideCol{
        overflow: hidden;
        width: 55px;
        height: 52px;
        display: block;
        margin-right: 10px;
        @include transition(all 1s linear);
        .card-column-header{
            overflow: hidden;
            display: block;
            width: 47px;
            @include transition(all 1s linear);
            .col_name, .total-task{
                display: none;
            }
        }
    }

}
.list-group-item {
    border-top: solid 0.5px lightgray;
    padding: 5px !important;
}
.list-group{
    margin-left: 35px !important;
}
.list-model{
    max-height: 410px;
    overflow-y: auto
}

.modal-content {
    border-radius: 0.8rem !important;
}
.card-list {
    &:hover{
        border: 0.50px solid #896799;
        box-shadow: 0px 2px 10px -3px #434745 !important;
        cursor: pointer;
    }

    .input-hide {
        border: none !important;
        background: none !important;

    }

    .inp {
        padding: 0px !important;
    }

    .form-control {
        padding: 0px 0.75rem !important;
        min-height: 0px !important;
        width: 96%;
        font-size: 13px;
    }

    .user {
        margin-top: 10px;
    }


    .dropdown-menu {
        width: 300px;
        border-radius: 4px 4px;
        margin-top: 10px;
        box-shadow: 0px 2px 10px -3px #434745;
        &:before {
            content: "";
            border-bottom: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -5px;
            left: 10px;
            z-index: 10;
        }
        &:after {
            content: "";
            border-bottom: 7px solid #ccc;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: -7px;
            left: 23px;
            z-index: 9;
        }
    }
    .dropdown-menu1 {
        width: 300px;
        border-radius: 4px 4px;
        margin-top: 10px;
        box-shadow: 0px 2px 10px -3px #434745;
        &:before {
            content: "";
            border-bottom: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -5px;
            left: 45%;
            z-index: 10;
        }
        &:after {
            content: "";
            border-bottom: 7px solid #ccc;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: -7px;
            left: 49.5%;
            z-index: 9;
        }
    }

    .calender {
        position: absolute;
        bottom: 10px;
        left: 59px;
    }
    .tag-icon{
        position: absolute;
        // top: 69%;
        bottom: 14px;
        left: 145px;
    }
    .tag-icon-free{
        bottom: 10px;
    }


    .li-opacity {
        opacity: 0.25;
        color: rgba(0, 0, 0, 0.75);
        //@include transition(all 0.2s linear);
    }
    .flatpickr-input {
        width: 63px;
        height: 25px !important;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.62);
        text-align: center;
        padding: 0;
        border: none;
        background: transparent;
        outline: 0;
        position: absolute;
        bottom: 13px;
        left: 49px;
        font-weight: bold;
        border-radius: 12px;
    }
    .flatpickr-input1 {
        width: 63px;
        height: 25px !important;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.62);
        text-align: center;
        padding: 0;
        border: none;
        background: transparent;
        outline: 0;
        position: absolute;
        bottom: 13px;
        left: 49px;
        font-weight: bold;
        border-radius: 12px;
        z-index: -1;
    }
    .text-area {
        background: #E6F2D2;
    }
    .text-area:hover{
        border: 1px solid #d4d4d4;
    }

    .dateCal {
        opacity: 0;
        &.dateCal1{
            background: #E6F2D2!important;
            opacity: 1;
        }
    }
}

.total-task{
    font-size: 13px;
    height: 24px;
    width: 24px;
    background: #e7e7e7;
    border-radius: 50%;
    margin-left: 14px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: #5f5f5f;
}

.total-child{
    float: right;
    font-size: 11px;
    height: 25px;
    width: 25px;
    background: #aaff00;
    border-radius: 50%;
    margin-left: 14px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: #5f5f5f;
    bottom: 18px;
}

.smooth-dnd-container{
    .vertical{
        .smooth-dnd-draggable-wrapper {
            overflow: initial !important;
            display: block;
        }
    }
}



.checkbox_cus_mini {
    display: inherit;
    position: relative;
    padding: 5px 0 5px 20px;
    cursor: pointer;
    margin: 0;
   &._pen_disable{
       pointer-events: none;
   }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 8px;
      left: 0;
      height: 15px;
      width: 15px;
      border-radius: 4px;
      background-color: #eee;
      @include transition(all 0.2s linear);
    }

    input ~ .checkmark {
      background-color: #FFF;
      border: 1px solid #c8c8c8;
      @include transition(all 0.2s linear);
    }

    input:checked ~ .checkmark {
      background-color: #0099ff;
      border: 1px solid #0099ff;
      @include transition(all 0.2s linear);
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 4px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      @include transition(all 0.2s linear);
    }
  }

  .disabledTask {
    opacity: 0.3;
  }
