@mixin transition($transition) {
    -moz-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin leftContent() {
    position: absolute;
    left: 0px;
    top: 10px;
}


.he-tree {
    border: none !important;
    padding: 0px !important;
    padding-top: 20px !important;
}

#app {
    padding: 50px;
}

.he-tree {
    border: 1px solid #ccc;
    padding: 20px;
}

.tree-node-inner {
    /*padding: 5px;*/
    border: 1px solid #cccccc;
    cursor: pointer;
}

.draggable-placeholder-inner {
    border: 1px dashed #0088F8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.09);
    color: #0088f9;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.tree3 .tree-node-inner {
    border: none;
    padding: 0px;
}

.tree3 .tree-node-inner-back:hover {
    background: #ddd;
}

.tree4 .tree-node-inner {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    backgroud: #ccc;
}

.tree4 .draggable-placeholder-inner {
    background-color: #fffefd;
}


.form-control {
    min-height: inherit !important;
}


#tree_view_list {
    background: #ffffff;
    padding: 0px;
    min-height: 900px;

    .offset-2 {
        margin-left: 0;
    }

    .flatpickr-input {
        width: 70px;
        height: 25px !important;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.62);
        text-align: center;
        padding: 0;
        border: none;
        background: transparent;
        outline: 0;
    }

    .tree-node-inner-back {
        .li-opacity {
            opacity: 0;
            color: rgba(0, 0, 0, 0.75);
            @include transition(all 0.2s linear);
        }

        &:hover {
            .li-opacity {
                opacity: 0.65;
                color: rgba(0, 0, 0, 0.75);
                @include transition(all 0.2s linear);

            }
        }
    }

    .tree-node-children {
        .left-content {
            @include leftContent();
        }

        .left-content1 {
            position: absolute;
            left: 25px;
            top: 10px;
        }

        .tree-node-children {
            .left-content {
                position: absolute;
                left: -50px;
                top: 10px;
            }

            .left-content1 {
                position: absolute;
                left: -25px;
                top: 10px;
            }

            .tree-node-children {
                .left-content {
                    position: absolute;
                    left: -100px;
                    top: 10px;
                }

                .left-content1 {
                    position: absolute;
                    left: -75px;
                    top: 10px;
                }

                .tree-node-children {
                    .left-content {
                        position: absolute;
                        left: -150px;
                        top: 10px;
                    }

                    .left-content1 {
                        position: absolute;
                        left: -125px;
                        top: 10px;
                    }

                    .tree-node-children {
                        .left-content {
                            position: absolute;
                            left: -200px;
                            top: 10px;
                        }

                        .left-content1 {
                            position: absolute;
                            left: -175px;
                            top: 10px;
                        }

                        .tree-node-children {
                            .left-content {
                                position: absolute;
                                left: -250px;
                                top: 10px;
                            }

                            .left-content1 {
                                position: absolute;
                                left: -225px;
                                top: 10px;
                            }

                        }
                    }
                }
            }
        }

        .calender {
            position: absolute;
            right: 46px;
            top: 10px;
        }

        .dateCal {
            position: absolute;
            right: 25px;
            top: 9px;
            border: none;
            background: transparent;
            width: 50px;
        }
        .hide-item-res {
            position: absolute;
            right: 25px;
            top: 0;
            width: 65px;
            background: transparent;
            border: none;
            box-shadow: none;
        }

        .user {
            position: absolute;
            right: 9px;
            top: 10px;
        }

        .tag-icon {
            position: absolute;
            right: 115px;
            top: 10px;
        }

        .attach-icon {
            position: absolute;
            right: 200px;
            top: 9px;
            font-size: 15px;
        }

        .subTask_plus {
            position: absolute;
            right: -25px;
            top: 10px;
        }

        .task_plus {
            position: absolute;
            right: -50px;
            top: 10px;
        }

    }

    .tree-node {
        position: relative;
        padding-left: 50px;
        //border: 1px solid #dfdfdf;
        .tree-node-inner {
            border: 1px solid #f9f9f9;
            margin-bottom: -1px;
            padding: 0;
            @include transition(all 0.2s linear);

            &:hover, &:active {
                background: #f0f0f0;
                @include transition(all 0.2s linear);
                .delete-icon {
                    //opacity: 0 !important;
                }
            }

            .eachItemRow {
                padding: 7px 15px;

                &.clicked {
                    background: #6a92cc;
                    @include transition(all 0.2s linear);

                    .li-opacity {
                        opacity: 1 !important;
                        color: rgba(0, 0, 0, 0.75);
                        @include transition(all 0.2s linear);
                        &.delete-icon {
                            //opacity: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .assignUser {
        margin: 5px;

        .searchUser {
            border-radius: 3px 3px;
            padding-left: 10px;
            font-size: 14px;
        }
    }

    .dropdown-menu {
        width: 300px;
        border-radius: 4px 4px;
        margin-top: 10px;
        //box-shadow: 1px 0px #c8ffce;
        &:before {
            content: "";
            border-bottom: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -5px;
            right: 0px;
            z-index: 10;
        }

        &:after {
            content: "";
            border-bottom: 7px solid #ccc;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: -7px;
            right: 3px;
            z-index: 9;
        }
    }

    .switch input {
        display: none;
    }

    .switch {
        display: inline-block;
        width: 50px;
        height: 20px;
        transform: translateY(50%);
        position: relative;
        margin-left: 60px;
    }

    .slider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
        box-shadow: 0 0 0 2px #777, 0 0 4px #777;
        cursor: pointer;
        border: 4px solid transparent;
        overflow: hidden;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #777;
        border-radius: 30px;
        transform: translateX(-30px);
        transition: .4s;
    }

    input:checked + .slider:before {
        transform: translateX(30px);
        background: limeGreen;
    }

    input:checked + .slider {
        box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
    }

    .input-hide {
        border: none !important;
        background: none !important;

    }

    .inp {
        padding: 0px !important;
        width: 70%;
    }

    .form-control {
        padding: 0px 0.75rem !important;
        min-height: 0px !important;
        width: 96%;
        font-size: 13px;
    }


}

.task_width {
    width: 100%;
    @include transition(all 0.4s linear);
    height: calc(100vh - 130px);
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;

}

.task_widthNormal {
    width: calc(70% - 5px);
    @include transition(all 0.4s linear);
    height: calc(100vh - 130px);
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;

}

.details {
    position: relative;
    display: none;
    width: 30%;
}

.detailsContainer {
    padding: 20px;
}



    .detailsShow {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        outline: 0;
        box-sizing: border-box;
        overflow-y: auto;
        background: white;
        box-shadow: 0 0 15px #EEE;
        border-left: 1px solid rgba(0,0,0,.12);
        border-right: none;
        width: 40vw;
        max-width: 600px;
        z-index: 2;
        right: 0;

    .input-hide {
        border: none !important;
        background: none !important;

    }

    .inp {
        padding: 0px !important;
    }

    .form-control {
        padding: 0px 0.75rem !important;
        min-height: 0px !important;
        width: 96%;
        font-size: 13px;
    }

    .plus-icon {
        margin: -5px;
        margin-left: 4px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .tag-icon {
        margin: -5px;
        padding-right: 27px;
    }

    .textAreaExtend {
        padding: 0 20px;
    }

    .detailsFooter {
        position: relative;
        display: inline-block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid #cfcaca;
        padding: 13px 10px 13px;
    }

    .commentPic {
        position: absolute;
        height: 30px;
        width: 30px;
        border: 1px solid #dfdfdf;
        border-radius: 50%;
    }

    .commentInput {
        margin-left: 39px;
        width: 90%;
        padding: 5px 7px !important;
    }

    .detailsInput {
        border: none;
        //margin-left: 22px;
        //width: 90%;
        width: 100%;
        padding: 5px 7px !important;
    }

    .SubmitButton {
        margin-left: 39px;
    }

    .submitdetails {
        //margin-left: 22px;
    }


}

.badge {
    cursor: pointer;
}

.TaskListAndDetails {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: calc(100vh - 130px);
    .add-list{
        padding-left: 123px;
        display: inline-block;
        padding-top: 15px;
    }
}

.searchList {
    float: right;
    position: absolute;
    right: 30px;
    top: 7px;
    //.searchTaskList{
    //  display: none;
    //}
    //.searchTaskList1{
    //  display: block;
    //}
}

.dateCal {
    border: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    //background-color: #1f1f1f;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    //background-color: #e6e6e6;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c4c8;
    border-radius: 5px;
    opacity: 1;

    &:hover {
        background-color: #adb0b4;
    }
}

.i-text {
    position: relative;
    top: -5px;
    font-size: 11px;
    font-style: italic;
}

.task-img {
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 4px;
}

.task-img-right-pane {
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    width: 50%;
}
.file-delete {
    cursor: pointer;
    margin-top: 4px;
    position: absolute;
    right: 45px;
    background: #ff0622;
}
.assignUser-photo{
    width: 30px;
    border-radius: 74%;
    background: #2d1931;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.activeTask {
    background: #aec8dd;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}
.deactiveIteam{
    background: #fefffd;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}
.deactiveIteam:hover{
    color: black;
    border : 1px solid #d3dacc;
}

.activeTask:hover {
    color: black;
    border: 1px solid #d3dacc;
}

.input-title {
    display: inline-block !important;
}

.log-data{
    transition: all 0.4s linear;
    height: calc(100vh - 220px);
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
}
.image-auto{
    width :100%;
}
.tag-manager{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 08px;
}

@media only screen and (max-width: 880px) {
    .hide-item-res {
        display: none;
    }
}



