@mixin transition($transition) {
    -moz-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin leftContent() {
    position: absolute;
    left: 15px;
    top: 6px;
}


.he-tree {
    border: none !important;
    padding: 0px !important;
    //padding-top: 20px !important;
}

#app {
    padding: 50px;
}

.he-tree {
    padding: 20px;
}

.tree-node-inner {

}

.draggable-placeholder-inner {
    border: 1px dashed #0088F8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.09);
    color: #0088f9;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.tree3 .tree-node-inner {
    border: none;
    padding: 0px;
}

.tree3 .tree-node-inner-back:hover {
    background: #ddd;
}

.tree4 .tree-node-inner {
    border: none;
    padding: 5px 10px;
    backgroud: #ccc;
}

.tree4 .draggable-placeholder-inner {
    background-color: #fffefd;
}


.form-control {
    min-height: inherit !important;
}


#tree_view_list {
    padding: 0px;
    //min-height: 900px;

    .offset-2 {
        margin-left: 0;
    }

    .flatpickr-input {
        width: 70px;
        height: 25px !important;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.62);
        text-align: center;
        padding: 0;
        border: none;
        background: transparent;
        outline: 0;
    }

    .tree-node-inner-back {
        .li-opacity {
            opacity: 0;
            color: rgba(0, 0, 0, 0.75);
            @include transition(all 0.2s linear);
        }

        &:hover {
            .li-opacity {
                opacity: 0.65;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.75);
                @include transition(all 0.2s linear);
            }

            .li-opacity-sub {
                opacity: 0.90;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.75);
                @include transition(all 0.2s linear);
            }
        }
    }

    .tree-node-children {
        .left-content {
            @include leftContent();
        }

        .left-content1 {
            position: absolute;
            left: 25px;
            top: 6px;
        }

        .tree-node-children {
            .left-content {
                position: absolute;
                left: -35px;
                top: 6px;
            }

            .left-content1 {
                position: absolute;
                left: -10px;
                top: 6px;
            }

            .tree-node-children {
                .left-content {
                    position: absolute;
                    left: -85px;
                    top: 6px;
                }

                .left-content1 {
                    position: absolute;
                    left: -65px;
                    top: 6px;
                }

                .tree-node-children {
                    .left-content {
                        position: absolute;
                        left: -135px;
                        top: 6px;
                    }

                    .left-content1 {
                        position: absolute;
                        left: -110px;
                        top: 6px;
                    }

                    .tree-node-children {
                        .left-content {
                            position: absolute;
                            left: -185px;
                            top: 6px;
                        }

                        .left-content1 {
                            position: absolute;
                            left: -175px;
                            top: 6px;
                        }

                        .tree-node-children {
                            .left-content {
                                position: absolute;
                                left: -235px;
                                top: 6px;
                            }

                            .tree-node-children {
                                .left-content {
                                    position: absolute;
                                    left: -285px;
                                    top: 6px;
                                }

                            }

                        }
                    }
                }
            }
        }

        .calender {
            position: absolute;
            right: 40px;
            top: 10px;
        }

        .dropdown-menu-tag {
            top: 21px !important;
            left: 22px !important;
        }

        .dateCal {
            position: absolute;
            right: 18px;
            top: 11px;
            border: none;
            background: transparent;
            width: 50px;
            cursor: pointer;
        }

        .hide-item-res {
            position: absolute;
            right: 10px;
            top: 0;
            width: 75px;
            background: transparent;
            border: none;
            box-shadow: none;
        }

        .user {
            position: absolute;
            right: 9px;
            top: 10px;
        }

        .tag-icon {
            position: absolute;
            right: 80px;
            top: 10px;
        }

        .attach-icon {
            position: absolute;
            right: 140px;
            top: 9px;
            font-size: 15px;
            cursor: pointer;
        }

        .priority-icon {
            position: absolute;
            right: 200px;
            top: 9px;
            font-size: 15px;
            cursor: pointer;
        }

        .subTask_plus {
            position: absolute;
            right: -25px;
            top: 10px;
        }

        .task_plus {
            position: absolute;
            right: -50px;
            top: 10px;
        }

    }

    .tree-node {
        position: relative;
        padding-left: 50px;

        .tree-node-inner {
            margin-bottom: -1px;
            padding: 0;
            @include transition(all 0.2s linear);

            &:hover, &:active {
                background: #f0f0f0;
                @include transition(all 0.2s linear);

                .delete-icon {
                    //opacity: 0 !important;
                }
            }

            .eachItemRow {
                padding: 7px 15px;
                margin: 5px 0;
                border: 1px solid #f2f2f2;
                border-radius: 4px;
                background-color: #fff;
                cursor: pointer;

                &.clicked {
                    //background: #99c3ff;
                    background-color: #99c3ff !important;
                    @include transition(all 0.2s linear);

                    .li-opacity {
                        opacity: 1 !important;
                        cursor: pointer;
                        color: rgba(0, 0, 0, 0.75);
                        @include transition(all 0.2s linear);

                        &.delete-icon {
                            //opacity: 0 !important;
                        }
                    }
                }
            }
        }

        &.dragging {
            //position: fixed!important;
        }
    }

    .assignUser {
        margin: 5px;

        .searchUser {
            opacity: .7;
            padding-left: 10px;
            font-size: 14px;
            width: 100%;
            border-radius: 4px;
            background: rgba(255, 255, 255, .2);
        }
    }

    .dropdown-menu {
        width: 300px;
        border-radius: 4px 4px;
        margin-top: 10px;
        margin-bottom: 0px !important;
        //box-shadow: 1px 0px #c8ffce;
        &:before {
            content: "";
            border-bottom: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -5px;
            right: 0px;
            z-index: 10;
        }

        &:after {
            content: "";
            border-bottom: 7px solid #ccc;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: -7px;
            right: 3px;
            z-index: 9;
        }
    }

    .switch input {
        display: none;
    }

    .switch {
        display: inline-block;
        width: 50px;
        height: 20px;
        transform: translateY(50%);
        position: relative;
        margin-left: 60px;
    }

    .slider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
        box-shadow: 0 0 0 2px #777, 0 0 4px #777;
        cursor: pointer;
        border: 4px solid transparent;
        overflow: hidden;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #777;
        border-radius: 30px;
        transform: translateX(-30px);
        transition: .4s;
    }

    input:checked + .slider:before {
        transform: translateX(30px);
        background: limeGreen;
    }

    input:checked + .slider {
        box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
    }

    .input-hide {
        border: none !important;
        background: none !important;
        cursor: pointer;

    }

    .inp {
        padding: 0px !important;
        width: 70%;
        font-size: 16px;
        cursor: pointer;
    }

    .form-control {
        padding: 0px 0.75rem !important;
        min-height: 0px !important;
        width: 96%;
        font-size: 16px;
    }

    .content {
        width: 260px;
        margin: 100px auto;
    }

    .colors {
        width: 260px;
        float: left;
        margin: 20px auto;

        a {
            width: 43.3px;
            height: 30px;
            float: left;
        }

        .default {
            background: #414956;
        }
    }

    .jquery-accordion-menu > ul > li:hover > a {
        background: #FFFFFF;
    }

    .jquery-accordion-menu, .jquery-accordion-menu * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        outline: 0
    }

    .jquery-accordion-menu {
        width: 310px;
        float: left;
        position: absolute;
        box-shadow: 0 5px 10px #333;
        border-radius: 15px;
        display: none;
        z-index: 99999;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                width: 100%;
                display: block;
                float: left;
                position: relative;
                background: transparent;

                a {
                    width: 100%;
                    padding: 10px 0px 10px 13px;
                    float: left;
                    text-decoration: none;
                    font-size: 13px;
                    background: #FFFFFF;
                    color: #333;
                    border-bottom: solid 1px #174991;
                    white-space: nowrap;
                    position: relative;
                    overflow: hidden;
                    -webkit-transition: color .2s linear, background .2s linear;
                    transition: color .2s linear, background .2s linear;
                }
            }
        }
    }

    //.jquery-accordion-menu > ul > li:first-child > a {
    //    border-radius: 15px 15px 0 0;
    //}
    //.jquery-accordion-menu > ul > li:last-child > a {
    //    border-radius:  0 0 15px 15px;
    //}
    //.jquery-accordion-menu > ul > li > a {
    //    border-bottom: solid 1px #3b424d
    //}
    .dateCal-selected {
        border: none;
        width: 353%;
        position: absolute;
        top: 6px;
        z-index: 1;
        line-height: 29px;
        background: transparent;
        opacity: 0;
        cursor: pointer;
    }
}

.assigned_user {
    padding: 1px;
    position: relative;
}

.task_width {
    width: 100%;
    @include transition(all 0.4s linear);
    min-height: calc(100vh - 245px);
    display: inline-block;

    .hide-item-res {
        display: inherit;
    }

    .hide-item-res-user {
        display: inherit;
    }

}

.task_widthNormal {
    //width: calc(40% - 0px);
    width: calc(50% - 0px);
    @include transition(all 0.4s linear);
    height: calc(100vh - 130px);
    display: inline-block;

    .hide-item-res {
        display: none;
    }

    .hide-item-res-user {
        display: none;
    }
}

.details-show {
    //position: relative;
    //display: none;
    //width: 30%;
    @include transition(all 0.4s linear);
    transform: scaleX(1) !important;
    transform-origin: 100%;
}

.detailsContainer {
    padding: 20px;
}

.detailsShowFull {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 0;
    outline: 0;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 15px #EEE;
    border-left: 1px solid rgba(0, 0, 0, .12);
    border-right: none;
    width: 60%;
    //max-width: 800px;
    max-width: 650px;
    z-index: 2;
    right: 0;
    @include transition(all 0.4s linear);
    padding-top: 20px;
    transform: scaleX(0);
    transform-origin: 100%;

    .input-hide {
        border: none !important;
        background: none !important;

    }

    .inp {
        padding: 0px !important;
        cursor: pointer;
    }

    .form-control {
        padding: 0px 0.75rem !important;
        min-height: 0px !important;
        width: 96%;
        font-size: 13px;
    }

    .plus-icon {
        margin: -5px;
        margin-left: 4px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .tag-icon {
        margin: -5px;
        padding-right: 27px;
    }

    .textAreaExtend {
        // padding: 0 20px;
        height: calc(100vh - 310px);
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #e6e6e6;

    }

    .detailsFooter {
        position: relative;
        display: inline-block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid #cfcaca;
        padding: 13px 10px 13px;
    }

    .commentPic {
        position: absolute;
        height: 30px;
        width: 30px;
        border: 1px solid #dfdfdf;
        border-radius: 50%;
    }

    .commentInput {
        margin-left: 55px;
        width: 90%;
        padding: 5px 10px !important;
    }

    .comment-section-in-task-details {
        position: absolute;
        bottom: 5px;
        width: 100%;

    }

    .detailsInput {
        border: none;
        //margin-left: 22px;
        //width: 90%;
        width: 100%;
        padding: 5px 7px !important;
    }

    .SubmitButton {
        margin-left: 55px;
        width: 90%;
    }

    .submitdetails {
        //margin-left: 22px;
    }


}

.badge {
    cursor: pointer;
}

.TaskListAndDetails {
    background-color: #f9f9f9;
    width: 100%;
    display: inline-block;

    .add-list {
        padding-left: 123px;
        display: inline-block;
        padding-top: 15px;
    }
}

.list-task-details {
    height: calc(100vh - 103px);
    overflow-y: auto;
    overflow-x: hidden;
}

.board-card-details {
    height: calc(100vh - 103px);
    overflow-y: hidden;
    padding-top: 5px;
    @include transition(all 0.4s linear);
}

.boardView {
    width: 100%;
    display: inline-block;
    //height: 100%;
}

.project-overview {
    width: 100%;
    display: inline-block;
    overflow: auto;
    height: calc(100vh - 114px);
    margin: 10px 0;
}

#board_view_list {
    overflow: auto;
}

#col10 {
    //height: calc(100vh - 187px);
    height: calc(100vh - 110px);
    overflow-y: hidden;
}

.wrapper {
    min-height: calc(100vh - 55px) !important;
}

.searchList {
    float: right;
    position: absolute;
    right: 410px;
    top: 7px;
    @include transition(all 0.2s linear);
}

.searchList-board {
    float: right;
    position: absolute;
    right: 462px;
    top: 7px;
    display: block;
    @include transition(all 0.2s linear);
    z-index: 999;
}

#myInput {
    background-image: url('../img/icons8-search-26.png');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 3px 4px 3px 37px;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    line-height: 29px;
    background-size: 3.5%;
    height: 38px !important;
    @include transition(all 0.2s linear);
}

.search-nav-icon {
    margin-right: 15px !important;
    padding-top: 8px;
}

.search-nav-icon i {
    margin-left: -7px !important;
}

.search-nav-icon button {
    width: 25px;
}

.myUL {
    display: none;
}

.myUL-show {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 999;
    max-height: calc(100vh - 116px);
    overflow: auto;
}

.myUL-show li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 6px 0px 6px 9px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.myUL-show li a:hover:not(.header) {
    background-color: #eee;
}

.myUL-user-hide {
    display: none;
}

.myUL-user {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 73%;
    z-index: 999;
    position: absolute;
    left: 68px;
    top: 31px;
}

.myUL-user li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 3px 0px 3px 9px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-radius: 5px;
}

.myUL-user li a:hover:not(.header) {
    background-color: #eee;
}

.spark-screen {
    height: calc(100vh - 160px);
    overflow: auto;
}

.dateCal {
    border: none;
    background: transparent;
    cursor: pointer;
}

.vdp-datepicker__calendar {
    left: -100px !important;
    z-index: 999999;
    //top: -100px !important;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    //background-color: #1f1f1f;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    //background-color: #e6e6e6;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c4c8;
    border-radius: 5px;
    opacity: 1;

    &:hover {
        background-color: #adb0b4;
    }
}

.i-text {
    position: relative;
    top: -5px;
    font-size: 11px;
    font-style: italic;
}

.task-img {
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 4px;
}

.task-img-right-pane {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
}

.file-delete {
    cursor: pointer;
    margin-top: -1px;
    position: absolute;
    right: 30px;
    //background: #ff0622;
}

.task-complete {
    display: none;
}

.empty-progress {
    height: 22px;
    width: 22px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
}

.progress-bar-custom:hover {
    .task-complete {
        display: inherit;
    }

    .task-complete-progress {
        display: none;
    }
}

.assignUser-photo {
    width: 30px;
    border-radius: 74%;
    background: #2d1931;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.assignUser-suggest-photo {
    width: 21px;
    border-radius: 74%;
    background: #2d1931;
    height: 21px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.assignUser-photo-for-selected {
    width: 22px;
    border-radius: 74%;
    background: #4f4f8a;
    height: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
    color: white;
    font-size: 10px;
    padding-left: 1px;
    cursor: pointer;
    position: relative;
}

.remove-assigned {
    display: inline-block !important;
    position: absolute;
    right: 10px;
    z-index: 9999;
    color: #000;
    top: 16px;
}

.remove-assign-user {
    display: inline-block !important;
    position: absolute;
    right: 10px;
    z-index: 9999;
    color: #ffffff;
    top: 16px;
    font-size:16px;
}

.users-select {
    position: relative;
    padding-top: 5px;
    margin: 0px;
}

.users-select:hover {
    background: #a8d7ff;
    cursor: pointer;
}

.remove-assign-user-icon {
    font-size: 13px;
    line-height: 20px;
    padding-left: 1px;
}

.assign-user-drop-down-footer {
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.assign-user-drop-down-text {
    opacity: 0.6;
    font-size: 12px;
}

.assign-user-switch-for-dropdown {
    position: absolute !important;
    right: 10px;
    bottom: 5px;
    opacity: 1 !important;
}

.vdp-datepicker__calendar {
    right: 0px;
}

.assign-user-name-email {
    padding: 0px;
}

.add-tag-to-selected {
    padding: 5px 5px 5px 23px;
    //border-bottom: 1px solid;
    display: inherit;
}

.tag-color-custom-contextmenu {
    margin-right: 10px;
    height: 20px;
    width: 32px;
    border-radius: 10px;
    color: transparent;
}

.label-text {
    letter-spacing: 0px !important;
    margin-bottom: 0rem !important;
    padding-top: 0px !important;
}

.activeTask {
    background: #aec8dd;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.contex-menu-icon {
    height: 18px !important;
    padding-right: 12px;
}

.contex-menu-sortcut {
    position: absolute;
    right: 3px;
    bottom: 8px;
}

.deactiveIteam {
    background: #fefffd;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.deactiveIteam:hover {
    color: black;
    border: 1px solid #d3dacc;
}

.activeTask:hover {
    color: black;
    border: 1px solid #d3dacc;
}

.input-title {
    display: inline-block !important;
}

.log-data {
    transition: all 0.4s linear;
    display: inline-block;
}

.image-auto {
    width: 100%;
}

.tag-manager {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 08px;
}

.tooltipMakeForTag {
    display: inline-block;

}

.active-user {
    position: relative;
    background: #fff2f2;
    color: #bfaeae;
    padding-top: 5px;
    margin: 0px;
}

.calender-for-details {
    position: absolute;
    top: 1px;
    /* z-index: 1; */
    left: 33px;
}

.details-header {
    margin-top: 8px !important;
    margin-bottom: 5px !important;
}

.details-header-tag {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.details-comments-pic {
    top: 8px;
    position: absolute;
    height: 35px;
    width: 35px;
    line-height: 35px;
    left: 26px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}

.page-titles {
    width: 100%;
    display: inline-block;
    background: #fff;
    height: 50px;
    margin-bottom: 3px;
    box-shadow: 0 2px 4px rgba(55, 63, 67, 0.04);
}

.nav-bar-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 50px;
    background: #ffffff;
}

.task-log {
    max-height: 720px;
    overflow-y: auto;
}

.details-image {
    display: inline-flex;
    max-width: 100%;
    max-height: 525px;
    overflow-y: auto;
    overflow-x: hidden;
}

.action-list-board {
    display: table;
    border-radius: 50px;
    background: #d4e6ff;
    box-shadow: 1px 1px grey;
}

.action-task {
    .dropdown-menu:before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 16px;
        z-index: 10;
    }

    .dropdown-menu:after {
        content: "";
        border-bottom: 12px solid #ccc;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: -12px;
        right: 14px;
        z-index: 9;
    }

    .custom-dropdown-item {
        text-transform: uppercase;
        line-height: 22px !important;
        cursor: pointer;
    }

    .custom-dropdown-item:hover {
        background: #99c3ff;
    }

    .dropdown-menu-custom {
        border-radius: 7px !important;
        box-shadow: none;
        margin-top: 10px;
        min-width: 250px;
    }
}

.sweet-alert button.cancel {
    background-color: #2d804e;
}

.sweet-alert button.cancel:hover {
    background-color: #518066;
}

@media only screen and (max-width: 880px) {
    .hide-item-res {
        display: none;
    }
}

.p-high {
    background-color: rgba(255, 0, 0, 0.1) !important;
    border: 1px solid rgba(255, 0, 0, 0.3) !important;
}

.p-medium {
    background-color: rgba(255, 193, 7, 0.1) !important;
    border: 1px solid rgba(255, 193, 7, 0.6) !important;
}

.p-low {
    background-color: rgba(23, 43, 77, 0.1) !important;
    border: 1px solid rgba(23, 43, 77, 0.3) !important;
}

.pc-high {
    //border: 1px solid rgba(125, 125, 125, 0.3) !important;
}

.pc-medium {
    //border: 1px solid rgba(255, 193, 7, 0.6) !important;
}

.pc-low {
    //border: 1px solid rgba(23, 43, 77, 0.3) !important;
}

.pch-high {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    text-align: right;
    background: #e25858;
    padding-top: 4px;
    //border-bottom: 1px solid rgba(125, 125, 125, 0.3);
    border-radius: 0.25rem 0.25rem 0 0;
}

.pch-medium {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    text-align: right;
    background: #e58c62;
    padding-top: 4px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.pch-low {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    text-align: right;
    background: #5987d1;
    padding-top: 4px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.ch-option {
    position: absolute;
    right: 10px;
    top: 8px;
}

.ch-option-icon {
   color: white !important;
}

a{
    cursor: pointer !important;
}
